<%= render "shared/header" %>

<div class="game-area", oncontextmenu="return false">
  <table id="game-table">
    <thead>
      <tr>
        <th id="time" colspan="3">000</th>
        <th id="counter" colspan="3">000</th>
        <th colspan="20">
        <%= form_with model: @game, method: :post, id: "form" do |form| %>
          <%= form.text_field :time ,id: "form-time", type: "hidden" %>
          <%= form.text_field :comment ,id: "form-comment", type: "hidden" %>
          <%= form.submit 'OK', id: "submit", type: "hidden" %>
        <% end %>
        </th>
      </tr>
    </thead>
    <tbody id="field"></tbody>
  </table>
</div>

<div class="record-area">
  <table class="record">
    <thead>
      <tr>
        <th id="ranking">順位</th>
        <th id="time">記録</th>
        <th id="user">ユーザー</th>
      </tr>
    </thead>
    <tbody>
      <% 10.times do |i| %>
        <tr>
          <% if @games[i]%>
            <%= render partial: 'record', locals: { game: @games[i], i: i } %>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>