<%= render "shared/header" %>

<div class="game-area", oncontextmenu="return false">
  <table id="game-table">
    <thead>
      <tr>
        <th id="time" colspan="3">000</th>
        <th id="counter" colspan="3">000</th>
        <th colspan="6">
        <%= form_with model: @game, method: :post, id: "form" do |form| %>
          <%= form.text_field :time ,id: "form-time", type: "hidden" %>
          <%# <%= form.text_field :comment ,id: "form-comment", type: "hidden" %>
          <%= form.submit 'save record', id: "submit", type: "hidden" %>
        <% end %>
        </th>
      </tr>
    </thead>
    <tbody id="field"></tbody>
  </table>
</div>

<div class="record-area">
  <table id="all-records" class="records">
    <h1>みんなのきろく</h1>
    <p>保存できるのはログインしたユーザーの記録だけです。</p>
    <p>保存できるのは上級モードの記録だけです。</p>
    <thead>
      <tr>
        <th class="ranking-head">順位</th>
        <th class="time-head">記録</th>
        <th class="user-head">ユーザー</th>
        <th class="day-head">日付</th>
      </tr>
    </thead>
    <tbody id="record-datas">
      <%= render partial: 'game', collection: @games %>
    </tbody>
  </table>
</div>